@import "../variable";
.label {
  font-size: 88%;
  margin: 4px;
  display: inline-block;
}

.label-danger {
  background-color: $red;
}

.label-warning {
  background-color: $warning;
}

.panel-body .form-group {
  padding-top: 15px;
  .form-control{
    height: 40px;
    font-size: 15px;
    border: 2px solid $some_gray;
    box-shadow: none;
  }
  textarea {
    min-height:100px !important;
  }
  select.form-control{
  }
}
.input-group-addon{
  color: #fff;
  background: #cfcfcf;
  border: 2px solid #b1b1b1;
  &.active,&:focus,&:hover{
    background: #b1b1b1;
    border-color:#e9ebf4;
  }

}

.input-group-addon ~ .form-control{
  border: 2px solid #b1b1b1 !important;
}
.input-group{
  margin-bottom:15px;
}