@import "../variable";


.label {
  font-size: 88%;
  margin: 4px;
  display: inline-block;
}

.label-danger {
  background-color: $red;
}

.label-warning {
  background-color: $warning;
}

.form-group {
  padding-top: 15px;
}

.form-group .bootstrap-switch .bootstrap-switch-handle-off,.form-group .bootstrap-switch .bootstrap-switch-handle-on,.form-group .bootstrap-switch .bootstrap-switch-label{
  display: inline-flex !important;
}